
<!-- Toolbar -->


<div class="navbar">
  <img
    width="80"
    alt="Fetch Logo"
    src="/assets/kt_logo.svg"
  />
  <span>knowledge transfer</span>
</div>

<div class="content">

  <!-- Resources -->
  <h2>Blogs</h2>
  <div class="markdown-container">
    <markdown src="/assets/posts/git_crashcourse/git_crashcourse.md"></markdown>
  </div>
  <!-- Footer -->
  <footer>
      Love knowledge transfer??&nbsp;
      <a href="https://github.com/brianbrown17/knowledge-transfer" target="_blank" rel="noopener"> Give our repo a star.
        <div class="github-star-badge">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          Star
        </div>
      </a>
  </footer>
</div>

<router-outlet></router-outlet>
