<div class="about-section">
    <h2>About</h2>
    <h5>
    This blog is designed for those eager to master technology and dive into engineering software projects.
    </h5>
    <h5>
    "Knowledge transfer" refers to quickly getting someone up to speed on a project or tool with minimal fluff. We apply this principle to teach coding languages, engineering patterns, and development tools. Here, you'll find the essentials needed to start experimenting and learning by doing.
    </h5>
    <h5>
    Our philosophy is simple: the best way to learn is through hands-on projects. Our articles offer straightforward instructions and key steps while skipping lengthy theory. Don't hesitate. Start a project, reach out with questions, and keep learning!
    </h5>
</div>
<h2 class="post-heading">Posts</h2>
<div class="post-list">
    <!-- TODO: render this dynamically from the typescript collection-->
    <a class="card" (click)="goToPost()">
        <img src="/assets/git_crashcourse_img_1.png" alt="Sample Image" class="card-image">
        <div class="card-content">
            <h3 class="card-title">Git Crashcourse</h3>
            <h5 class="card-subheader">Setup and fundamentals for Git version control</h5>
        </div>
    </a>
</div>
  
